@model GlabsHelps.Models.Solicitudes

@{
    ViewBag.Title = "Create";
    Layout = null;
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<style>
    .form-control {
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman';
    }

    h4 {
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman';
    }

    .form-group {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .control-label {
        display: inline;
    }

    .form-control input {
        font-family: 'Times New Roman';
    }

    a {
        font-family: 'Times New Roman';
    }

    input button {
        font-family: 'Times New Roman';
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Solicitudes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                <input id="Descripcion" name="Descripcion" placeholder="Descripción" type="text" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Descripción no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Detalle</label>
            <div class="col-md-10">
                <input id="Detalle" name="Detalle" placeholder="Detalle" type="text" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Detalle no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha</label>
            <div class="col-md-10">
                <input id="Fecha" name="Fecha" type="date" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Finalizado</label>
            <div class="col-md-10">
                <input id="FechaFinalizado" name="FechaFinalizado" type="date" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Fecha Finalizado no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Estatus</label>
            <div class="col-md-10">
                <select id="Estatus" name="Estatus" class="form-control" required oninvalid="this.setCustomValidity('Seleccione el estatus')" oninput="this.setCustomValidity('')">
                    <option value="0" disabled selected>Seleccione un estatus</option>
                    <option value="1">No iniciado</option>
                    <option value="2">Iniciado</option>
                    <option value="3">Terminado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Id Cliente</label>
            <div class="col-md-10">
                <select id="IdCliente" name="IdCliente" class="form-control" required oninvalid="this.setCustomValidity('Seleccione un cliente')" oninput="this.setCustomValidity('')">
                    <option value="0" disabled selected>Seleccionar Cliente</option>
                    @foreach (var item in items)
                    {
                        <option value="@Convert.ToInt32(item.Value)">@item.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Id Ingeniero</label>
            <div class="col-md-10">
                <input id="IdIngeniero" name="IdIngeniero" type="text" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Id Ingeniero no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Agenda</label>
            <div class="col-md-10">
                <input id="FechaAgenda" name="FechaAgenda" type="date" value="@DateTime.Now" class="form-control" required oninvalid="this.setCustomValidity('El campo Fecha Finalizado no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Solicitudes/Index" class="btn btn-primary">
                    Salir
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary" style="font-family:'Times New Roman';" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
