@model IEnumerable<GlabsHelps.Models.Solicitudes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes</h2>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-3" style="width: 190px;">
                <input type="search" name="busqueda" class="form-control" />
            </div>
            <div class="col-xs-3">
                <input type="submit" value="Buscar" class="btn btn-default border-dark" />
            </div>
            <div class="col-xs-3">
                <a id="ButtonNuevo" data-toggle="modal" data-target="#PopupEdit" class="btn btn-default border-dark" data-url="@Url.Action("Create")" style="position:relative; left:25%;">
                    Nueva Solicitud
                </a>
            </div>
        </div>
        <br />
    }

    <div id="PopupEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MiPopLabel" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="width:500px; height: 500px; position: relative;">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal-content">
                        Cargando...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover table-sm">
        <tr>
            <th>
                Descripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Fecha Finalizado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                Id Cliente
            </th>
            <th>
                Id Usuario
            </th>
            <th>
                Id Ingeniero
            </th>
            <th>
                Fecha Agenda
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdIngeniero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAgenda)
                </td>
                <td>
                    <a id="EditarButton" data-toggle="modal" data-target="#PopupEdit" href="/Clientes/Edit/@item.IdSolicitud" class="btn btn-primary">
                        <i class="glyphicon glyphicon-pencil" style="color: black;"></i>
                    </a>
                    <a id="DetalleButton" data-toggle="modal" data-target="#PopupEdit" href="/Clientes/Details/@item.IdSolicitud" class="btn btn-primary">
                        <i class="glyphicon glyphicon-trash" style="color: black;"></i>
                    </a>
                    <a id="EliminarButton" data-toggle="modal" data-target="#PopupEdit" href="/Clientes/Delete/@item.IdSolicitud" class="btn btn-primary">
                        <i class="glyphicon glyphicon-trash" style="color: black;"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

    @section scripts{
        <script src="~/Scripts/Botones/SolicitudesBotones.js"></script>
        }
</body>

