@model GlabsHelps.Models.Equipos

@{
    ViewBag.Title = "Create";
    Layout = null;
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<style>
    .form-control {
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman';
    }

    h4 {
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman';
    }

    .form-group {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .control-label {
        display: inline;
        
    }

    .form-control input {
        font-family: 'Times New Roman';
    }

    a {
        font-family: 'Times New Roman';
    }

    input button {
        font-family: 'Times New Roman';
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Equipos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Id Cliente</label>
            <div class="col-md-10">
                <select id="IdCliente" name="IdCliente" class="form-control" required oninvalid="this.setCustomValidity('Seleccione un cliente')" oninput="this.setCustomValidity('')">
                    <option value="0" disabled selected>Seleccionar Cliente</option>
                    @foreach(var item in items)
                    {
                        <option value="@Convert.ToInt32(item.Value)">@item.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                <input id="Descripcion" name="Descripcion" placeholder="Descripción" type="text" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Descripción no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Responsable</label>
            <div class="col-md-10">
                <input id="Responsable" name="Responsable" placeholder="Responsable" type="text" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Responsable no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Dirección AnyDesk</label>
            <div class="col-md-10">
                <input id="DireccionAnyDesk" name="DireccionAnyDesk" placeholder="Dirección AnyDesk" type="text" value="" class="form-control" required oninvalid="this.setCustomValidity('El campo Dirección AnyDesk no puede quedar vacío')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Dirección TeamViewer</label>
            <div class="col-md-10">
                <input id="DireccionTeamViewer" name="DireccionTeamViewer" placeholder="Dirección TeamViewer" type="text" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ip Equipo</label>
            <div class="col-md-10">
                <input id="IpEquipo" name="IpEquipo" placeholder="Ip Equipo" type="text" value="" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ip Pública</label>
            <div class="col-md-10">
                <input id="IpPublica" name="IpPublica" placeholder="Ip Pública" type="text" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tipo Equipo</label>
            <div class="col-md-10">
                <select id="TipoEquipo" name="TipoEquipo" class="form-control" required oninvalid="this.setCustomValidity('Seleccione un tipo de equipo')" oninput="this.setCustomValidity('')">
                    <option value="0" disabled selected>Seleccionar un tipo de equipo</option>
                    <option value="Servidor">Servidor</option>
                    <option value="Cliente">Cliente</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioEquipo, "Usuario Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsuarioEquipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsuarioEquipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClaveEquipo, "Clave Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClaveEquipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClaveEquipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Equipos/Index" class="btn btn-primary">
                    Salir
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary" style="font-family:'Times New Roman';"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

