@model GlabsHelps.Models.Equipos

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<h3>Estas seguro de eliminar este equipo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            Descripci&oacute;n
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

        <dt>
            Direcci&oacute;n AnyDesk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionAnyDesk)
        </dd>

        <dt>
            Direcci&oacute;n TeamViewer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionTeamViewer)
        </dd>

        <dt>
            Ip Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpEquipo)
        </dd>

        <dt>
            Ip P&uacute;blica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpPublica)
        </dd>

        <dt>
            Ip Local
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpLocal)
        </dd>

        <dt>
            Tipo Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEquipo)
        </dd>

        <dt>
            Usuario Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEquipo)
        </dd>

        <dt>
            Clave Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveEquipo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-default" />
    <a href="/Equipos/Index" class="btn btn-default">
        Salir
    </a>
</div>
    }
</div>

