@model GlabsHelps.Models.Equipos

@{
    ViewBag.Title = "Details";
    Layout = null; 
}

<h2>Details</h2>

<div>
    <h4>Equipos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

        <dt>
            Direcci&oacute;n AnyDesk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionAnyDesk)
        </dd>

        <dt>
            Direcci&oacute;n TeamViewer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionTeamViewer)
        </dd>

        <dt>
            Ip Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpEquipo)
        </dd>

        <dt>
            Ip P&uacute;blica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpPublica)
        </dd>

        <dt>
            Ip Local
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpLocal)
        </dd>

        <dt>
            Tipo Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEquipo)
        </dd>

        <dt>
            Usuario Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEquipo)
        </dd>

        <dt>
            Clave Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveEquipo)
        </dd>
    </dl>
</div>

