@model IEnumerable<GlabsHelps.Models.Clientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-3" style="width: 190px;">
                <input type="search" name="busqueda" class="form-control" />
            </div>
            <div class="col-xs-3">
                <input type="submit" value="Buscar" class="btn btn-default border-dark" />
            </div>
            <div class="col-xs-3">
                <a id="ButtonNuevo" data-toggle="modal" data-target="#PopupEdit" class="btn btn-default border-dark" data-url="@Url.Action("Create")" style="position:relative; left:25%;">
                    Nuevo Cliente
                </a>
            </div>
        </div>
        <br />
    }


    <div id="PopupEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MiPopLabel" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="width:500px; height: 500px; position: relative;">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal-content">
                        Cargando...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover table-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Correo Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                Celular Contacto
            </th>
            <th>
                Correo Contacto
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CelularContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoContacto)
                </td>
                <td>
                    <a id="EditarButton" data-toggle="modal" data-target="#PopupEdit" href="/Clientes/Edit/@item.IdCliente" class="btn btn-primary">
                        <i class="glyphicon glyphicon-pencil" style="color: black;"></i>
                    </a>
                    <a id="EliminarButton" data-toggle="modal" data-target="#PopupEdit" href="/Clientes/Delete/@item.IdCliente" class="btn btn-primary">
                        <i class="glyphicon glyphicon-trash" style="color: black;"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

    @*<div id="PopupCreate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MiPopLabel" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="MiPopLabel">Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div id="modal-content">
                            Cargando...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="PopupDetails" class="modal fade" style="display: none;" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div id="modal-content">
                            Cargando...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="PopupEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MiPopLabel" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="MiPopLabel">Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div id="modal-content">
                            Cargando...
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @section scripts{
        <script src="~/Scripts/Botones/ClientesBotones.js"></script>
    }


</body>